/**********Layout********/


/*class --> .text-red {} */
/* id --> #id-bilgisi {} */
body {
    text-align: center;
    text-transform: capitalize;
    background-color: #D6E4E5;
}

.music-ul {
    list-style-position: inside
}

.main-header {
    color: red;
    font-size: 3rem;
    text-transform: uppercase;
}

.nav-header {
    color: #3F0071;
}

.section-header {
    color: #C69749;
}