.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Contacts {
  width: 400px;
  background-color: bisque;
  padding: 20px;
  border-radius: 10px;
}

input{
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ContactUl{
  margin: 1rem 0;
}

.ContactUl>li{
  background-color: burlywood;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}